langchain
langchain-community
langchain-core
langchain-anthropic
langchain-google-genai
langchain-ollama
langchain-openai
langgraph
openai
datasets
gql[requests]
sseclient
dashscope
pyautogen
pydantic
python-dotenv
joblib
requests
sqlalchemy
jinja2
docker
swebench
loguru