datasets
ag2[openai]==0.9.2
ag2[anthropic]==0.9.2
autogen==0.9.2
pydantic
python-dotenv
requests
docker
swebench[docker]
loguru
pytest
pathlib
langgraph==0.4.8
langgraph-checkpoint-postgres==2.0.21
langgraph-cli[inmem]==0.2.12
psycopg[binary]~=3.2

langchain
langchain-community
langchain-chroma
langchain-openai
chromadb
tree-sitter
tree-sitter-python
timeout_decorator