datasets
ag2[openai]
pydantic
python-dotenv
requests
docker
swebench[docker]
loguru
pytest
pathlib
langgraph==0.4.8
langgraph-checkpoint-postgres==2.0.21
langgraph-cli[inmem]==0.2.12
psycopg[binary]~=3.2
